<table class="table table-striped">
    <thead>
        <tr><td colspan="7" align="center">Data in this page will automatically get updated in every 5 seconds</td></tr>
        <tr>
            <td>SL</td>
            <td>UID</td>
            <td>Name</td>
            <td>Last Location</td>
            <td>Last Speed</td>
            <td>Last Distance</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'static-vehicle' : vehicle.distance<1}" *ngFor="let vehicle of vehicles; let i = index">
            <td>{{i+1}}</td>
            <td>{{vehicle.uid}}</td>
            <td>{{vehicle.name}}</td>
            <td>{{vehicle.pos_lat+" "+vehicle.pos_lon}}</td>
            <td>{{vehicle.speed|number}}m/s</td>
            <td>{{vehicle.distance|number}}m</td>
            <td><a routerLink="/edit-vehicle/{{vehicle._id}}">Edit</a></td>
        </tr>
    </tbody>
</table>
