<form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm.value)">
    <input type="hidden" name="id" formControlName="_id">
    <div class="form-group">
        <label for="name">
            UID
        </label>
        <input id="uid" type="text" class="form-control" formControlName="uid">
    </div>

    <div class="form-group">
        <label for="name">
            Name
        </label>
        <input id="name" type="text" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
        <label for="pos-lat">
            Latitude
        </label>
        <input id="pos-lat" type="text" class="form-control" formControlName="pos_lat">
    </div>

    <div class="form-group">
        <label for="pos-lon">
            Longitude
        </label>
        <input id="pos-lon" type="text" class="form-control" formControlName="pos_lon">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>